<div
    class="panel panel-default item-detail"
>
    <div
        ng-class-even="'panel-body bg-info'"
        ng-class-odd="'panel-body bg-success'"
    >
        <a
            href="{{$ctrl.item.url}}" target="_blank"
            ng-click="$ctrl.onToggleRead({item: $ctrl.item, read: true})"
        >
            {{ $ctrl.item.datetime | date : 'medium'}}
            {{ $ctrl.item.title }}
        </a>
        <span
            ng-class="{'badge': !$ctrl.item.read, 'badge read': $ctrl.item.read}"
        >
            <span
                class="glyphicon glyphicon-ok"
                aria-hidden="true"
                ng-click="$ctrl.onToggleRead({item: $ctrl.item})"
            >
            </span>
        </span>
    </div>

    <div
        ng-class-even="'panel-body bg-info'"
        ng-class-odd="'panel-body bg-success'"

    >
    </div>
</div>