<div
    class="panel panel-default item-detail"
>
    <div class="panel-icon">
        {{ $ctrl.getHost($ctrl.item.url)}}
    </div>

    <div class="panel-body">
        <a
            href="{{$ctrl.item.url}}" target="_blank"
            ng-click="$ctrl.onToggleRead({item: $ctrl.item, read: true})"
        >
            {{ $ctrl.item.title }}
        </a>
        <span
            ng-class="{'badge': !$ctrl.item.read, 'badge read': $ctrl.item.read}"
        >
            <span
                class="glyphicon glyphicon-ok"
                aria-hidden="true"
                ng-click="$ctrl.onToggleRead({item: $ctrl.item})"
            >
            </span>
        </span>
    </div>
    <div class="panel-footer">{{ $ctrl.item.datetime | date : 'medium'}}</div>
</div>