<div
    class="panel panel-default item-detail"
>
    <div class="panel-heading">
        <h3 class="panel-title">{{ $ctrl.datetime | date : 'medium'}}</h3>
    </div>

    <div
        ng-class-even="'panel-body bg-info'"
        ng-class-odd="'panel-body bg-success'"

    >
        <div class="list-group">

            <!--ng-mouseover="aggregator.activeHover = datetime + $index"-->
            <li
                ng-repeat="(url, dbInstance) in $ctrl.instances"
                class="list-group-item"
            >
                <a
                    href="{{url}}" target="_blank"
                    ng-click="$ctrl.onToggleRead({instance: dbInstance, read: true})"
                >
                    {{ dbInstance.item.title}}
                </a>
                <span
                    ng-class="{'badge': !dbInstance.read, 'badge read': dbInstance.read}"
                    ng-click="$ctrl.onToggleRead({instance: dbInstance})"
                >
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true">
                    </span>
                </span>
            </li>
        </div>
    </div>
</div>