<head>
    <script src="../libs/js/angular.min.js"></script>
    <script src="angular/aggregator.js"></script>
    <script src="angular/components/itemDetail.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../libs/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../libs/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/aggregator.css">
    <title>Rss Aggregator</title>
</head>
<body ng-app="aggregatorApp">
<div class="aggregator-controller"
     ng-controller="AggregatorController as aggregator">
    <form class="navbar-form navbar-left">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                placeholder="Search"
                ng-model="aggregator.searchTerm"
            >
        </div>
        <div class="checkbox">
            <label>
                <input
                    type="checkbox" id="hideRead"
                    ng-checked="aggregator.hideRead"
                    ng-model="aggregator.hideRead"
                >
                Hide read
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input
                    type="checkbox" id="reverseSort"
                    ng-checked="aggregator.newestToOldest"
                    ng-model="aggregator.newestToOldest"
                >
                Newest to oldest
            </label>
        </div>
        <div class="checkbox" ng-hide="aggregator.clickToContainPort.error">
            <label>
                <input
                    type="checkbox" id="openInRandomContainer"
                    ng-checked="!aggregator.clickToContainPort.error && aggregator.openInRandomContainer"
                    ng-model="aggregator.openInRandomContainer"
                >
                Open in random container
            </label>
        </div>
    </form>
    <div class="main">
        <item-detail
            ng-repeat="item in aggregator.items
                        | filter:{title:aggregator.searchTerm}
                        | filter:aggregator.hideItemFilter
                        | orderBy: 'datetime' : aggregator.newestToOldest
                        track by item.url"
            item="item"
            on-toggle-read="aggregator.toggleRead(item, read)"
            on-item-clicked="aggregator.openItemLink(item)"
            data-hide="{{item.read && aggregator.hideRead}}"
            ng-class-even="'bg-info'"
            ng-class-odd="'bg-success'"
        ></item-detail>
    </div>
</div>
</body>